import(data.table)
import(mgcv)
import(magrittr)  
importFrom(Rcpp,sourceCpp)
useDynLib(eppasm,eppasmC,ageprevC)
importFrom("grDevices", "adjustcolor", "dev.new", "palette")
importFrom("graphics", "abline", "axis", "lines", "mtext", "par",
           "plot", "points", "polygon", "rect", "segments", "text")
importFrom("stats", "aggregate", "approx", "cov", "cov.wt", "density",
           "dexp", "dlnorm", "dnorm", "dunif", "ecdf", "mahalanobis",
           "median", "model.matrix", "na.omit", "optim", "optimHess",
           "pnorm", "qnorm", "quantile", "relevel", "rexp", "rgamma",
           "rnorm", "runif", "sd", "setNames", "update", "var")
importFrom("utils", "read.csv", "tail", "unzip")  
importFrom("binom", "binom.exact")
importFrom("methods", "new")